In [112]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import numpy as np

In [113]:
client = pymongo.MongoClient("mongodb+srv://analytics:analytics-password@atlascluster.a1wlifk.mongodb.net/?retryWrites=true&w=majority")
client

MongoClient(host=['ac-6ie0lk7-shard-00-01.a1wlifk.mongodb.net:27017', 'ac-6ie0lk7-shard-00-02.a1wlifk.mongodb.net:27017', 'ac-6ie0lk7-shard-00-00.a1wlifk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-12h7km-shard-0', tls=True)

In [114]:
mf_db = client.get_database("Mutual-Funds")
mf_db

Database(MongoClient(host=['ac-6ie0lk7-shard-00-01.a1wlifk.mongodb.net:27017', 'ac-6ie0lk7-shard-00-02.a1wlifk.mongodb.net:27017', 'ac-6ie0lk7-shard-00-00.a1wlifk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-12h7km-shard-0', tls=True), 'Mutual-Funds')

In [115]:
mf = mf_db.mutual_funds
mf

Collection(Database(MongoClient(host=['ac-6ie0lk7-shard-00-01.a1wlifk.mongodb.net:27017', 'ac-6ie0lk7-shard-00-02.a1wlifk.mongodb.net:27017', 'ac-6ie0lk7-shard-00-00.a1wlifk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-12h7km-shard-0', tls=True), 'Mutual-Funds'), 'mutual_funds')

In [116]:
ar = mf_db.annualized_returns
ar

Collection(Database(MongoClient(host=['ac-6ie0lk7-shard-00-01.a1wlifk.mongodb.net:27017', 'ac-6ie0lk7-shard-00-02.a1wlifk.mongodb.net:27017', 'ac-6ie0lk7-shard-00-00.a1wlifk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-12h7km-shard-0', tls=True), 'Mutual-Funds'), 'annualized_returns')

In [117]:
print(mf.count_documents({}), ar.count_documents({}))
ar.delete_many({})
print(ar.count_documents({}))

2148 10
0

In [118]:
mf_details = mf.find()
mf_df = pd.DataFrame(mf_details)
mf_df['Monthly Returns'] = mf_df['Close'].astype(float).pct_change(1)
mf_df

,_id,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Monthly Returns
0,6431f5806bf04d6a26991fb8,FXAIX,6/1/11,46.68,46.970001,44.970001,46.970001,36.71904,0,NaN
1,6431f5806bf04d6a26991fbd,FXAIX,11/1/11,43.169998,45.25,41.139999,44.310001,34.82687,0,-0.056632
2,6431f5806bf04d6a26991fba,FXAIX,8/1/11,45.59,45.59,39.68,43.290001,33.842186,0,-0.023020
3,6431f5806bf04d6a26991fc4,FXAIX,6/1/12,45.470001,48.529999,45.470001,48.529999,38.513302,0,0.121044
4,6431f5806bf04d6a26991fc5,FXAIX,7/1/12,48.66,49.150002,47.310001,48.919998,38.822811,0,0.008036
...,...,...,...,...,...,...,...,...,...,...
2143,6431f5806bf04d6a26992806,VTSAX,8/1/20,81.269997,86.470001,81.269997,86.349998,83.191307,0,0.071739
2144,6431f5806bf04d6a2699280b,VTSAX,1/1/21,93.349998,98.040001,93.349998,94.43,91.716492,0,0.093573
2145,6431f5806bf04d6a2699280d,VTSAX,3/1/21,99.879997,101.639999,95.910004,100.5,97.612061,0,0.064280
2146,6431f5806bf04d6a26992816,VTSAX,12/1/21,111.970001,118.220001,111.970001,117.559998,115.26844,0,0.169751
2147,6431f5806bf04d6a26992826,VTSAX,4/1/23,99.650002,99.650002,98.580002,98.93,98.93,0,-0.158472

In [119]:
tickers = np.unique(mf_df['Ticker'])
tickers

array(['FXAIX', 'PONRX', 'REEBX', 'SPXX', 'VFIAX', 'VIGIX', 'VIMSX',
       'VSMPX', 'VTMNX', 'VTSAX'], dtype=object)

In [120]:
import json
from json import loads, dumps
for i in tickers:
    annualized_returns = {}
    monthly_returns = mf_df[mf_df['Ticker'] == i]['Monthly Returns'].dropna()
    one_year = (1 + np.mean(monthly_returns))**(12) - 1
    two_year = (1 + np.mean(monthly_returns))**(24) - 1
    three_year = (1 + np.mean(monthly_returns))**(36) - 1
    seven_year = (1 + np.mean(monthly_returns))**(7*12) - 1
    ten_year = (1 + np.mean(monthly_returns))**(10*12) - 1
    annualized_returns['name'] = i
    annualized_returns['1 year'] = one_year
    annualized_returns['2 year'] = two_year
    annualized_returns['3 year'] = three_year
    annualized_returns['7 year'] = seven_year
    annualized_returns['10 year'] = ten_year
    ar.insert_one(annualized_returns)

In [121]:
ar.count_documents({})

10

In [122]:
from flask import Flask, render_template
from pymongo import MongoClient

In [123]:
app = Flask(__name__)

@app.route('/')
def index():
    documents = ar.find()
    return render_template('Mutual_Fund_webpage.html', documents=documents)

In [124]:
if __name__ == '__main__':
    app.run(debug=True, port=5005)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5005
Press CTRL+C to quit
 * Restarting with stat
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "/opt/anaconda3/lib/python3.7/site-packages/traitlets/config/application.py", line 845, in launch_instance
    app.initialize(argv)
  File "/opt/anaconda3/lib/python3.7/site-packages/traitlets/config/application.py", line 88, in inner
    return method(app, *args, **kwargs)
  File "/opt/anaconda3/lib/python3.7/site-packages/ipykernel/kernelapp.py", line 666, in initialize
    self.init_sockets()
  File "/opt/anaconda3/lib/python3.7/site-packages/ipykernel/kernelapp.py", line 307, in init_sockets
    self.shell_port = self._bind_socket(self.shell_socket, self.shell_port)
  File "/opt/anaconda3/lib/python3.7/site-packages/ipykernel/kernelapp.py", line 244, in _bind_socket
    return self._try_bind_socket(s, port)
  File "/opt/anaconda3/lib/python3.7/site-packages/ipykernel/kernelapp.py", line 220, in _try_bind_socket
    s.bind("tcp://%s:%i" % (self.ip, port))
  File "/opt/anaconda3/lib/python3.7/site-packages/zmq/sugar/socket.py", line 229, in bind
    super().bind(addr)
  File "zmq/backend/cython/socket.pyx", line 562, in zmq.backend.cython.socket.Socket.bind
  File "zmq/backend/cython/checkrc.pxd", line 28, in zmq.backend.cython.checkrc._check_rc
zmq.error.ZMQError: Address already in use

SystemExit: 1

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [125]:
import webbrowser

mycol = ar

stud = []

tbl = "<tr><td>Name</td><td>1 year</td><td>2 year</td><td>3 year</td><td>7 year</td><td>10 year</td></tr>"
stud.append(tbl)

for y in mycol.find():
    a = "<tr><td>%s</td>"%y['name']
    stud.append(a)
    b = "<td>%s</td>"%y['1 year']
    stud.append(b)
    c = "<td>%s</td>"%y['2 year']
    stud.append(c)
    d = "<td>%s</td>"%y['3 year']
    stud.append(d)
    e = "<td>%s</td>"%y['7 year']
    stud.append(e)
    f = "<td>%s</td></tr>"%y['10 year']
    stud.append(f)
    


contents = '''<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title>Python Webbrowser</title>
</head>
<body>
<table>
%s
</table>
</body>
</html>
'''%(stud)

filename = 'Mutual_Fund_webpage.html'

def main(contents, filename):
    output = open(filename,"w")
    output.write(contents)
    output.close()

main(contents, filename)    
webbrowser.open(filename)

True